@import './fonts.css';
@import './tailwind.css';
@import './theme.css';

* {
  font-weight: normal !important;
}


@keyframes zoomInOut {
  0%, 100% { transform: scale(0.9); }
  50% { transform: scale(1.1); }
}
.animate-zoom-in-out {
  animation: zoomInOut 2s ease-in-out infinite;
}

